#drs_link {
    color: white;

}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #1b2b6b !important;
}

.dash-table-container .row {
  margin: 0;
}

/*.container-fluid {*/
/*  width: 100%;*/
/*  padding-right: 2px;*/
/*  padding-left: 2px;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*}*/