body {
    font-size: 1.8rem;
    background-color: #1F2132 !important;
    font-size: 15px;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

html {
  font-size: 62.5%;
  font-family: serif;
}

#app-header{
    background-color: #333652 !important;
}

#drs-link {
    background-color: #333652 !important;
    color: #FFFFFF;
}

#test-dropdown .VirtualizedSelectOption, #control-dropdown .VirtualizedSelectOption, #gff-dropdown .VirtualizedSelectOption {
    font-size: .8em;
}